@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');


/*--------------------------------------- Intro */

#intro {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    padding: 8rem 4rem 6rem 4rem ;
    text-align: center;
}

#intro h1 {
    font-size: 5rem;
    font-weight: 600;
}

#intro p {
    font-size: 1.25rem;
}

/* ------------------------------------------Background Image */
#bg-image  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fafafa;
    background: url("../images/bg.jpg");
    background-size: auto;
    background-position: bottom;
    background-repeat: repeat;
    background-attachment: fixed;
    z-index: -1;
}

/* ------------------------------------------Nav Bar*/

#nav {
    color: #ffffff;
    display: flex;
    background: rgba(255, 255, 255, 0.175);
    height: 4rem;
    line-height: 4rem;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 2rem 0 0;
    position: relative;
    width: calc(100% - 20rem);
    z-index: 2;
}

#nav ul.links {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 900;
    letter-spacing: 0.075em;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    text-transform: uppercase;
}

#nav ul.links li {
    display: block;
    padding-left: 0;
}

#nav ul.links li a {
    color: #fafafa;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    display: block;
    text-decoration: none;
    font-size: 0.8rem;
    outline: none;
    padding: 0 2rem;
}

#nav ul.links li a:hover {
    color: inherit !important;
    background-color: rgba(255, 255, 255, 0.1);
}

#nav ul.links li.active {
    background-color: #ffffff;
}

#nav ul.links li.active a {
    color: #1e252d;
}

#nav ul.links li.active a:hover {
    color: #18bfef !important;
}


#nav ul.social-links li a {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

#nav ul.social-links li a:hover {
    color: #18bfef !important;
}


/* ------------------------------------------Main container */
#main {
    color: black;
    background-color: #ffffff;
    position: relative;
    margin: 0 auto;
    width: calc(100% - 20rem);
    z-index: 2;
}

#signature{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 5rem;
    color: rgba(255, 255, 255, 0.25);
    background-color: rgba(19, 18, 18, 0.74);
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

#signature ul {
    margin-top: 5rem;
    padding-top: 1rem;
    list-style-type: none;
}

#signature ul li {
    border-left: solid 2px;
    display: inline-block;
    line-height: 1;
    margin-left: 1rem;
    padding-left: 1rem;
}

#signature ul li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}